extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo lacus, maximus nec malesuada ut, pharetra ac nulla. Phasellus in nibh scelerisque, convallis lacus quis, ullamcorper nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                p Suspendisse leo est, tristique et sapien quis, euismod sollicitudin ex. Cras mi lectus, dictum eu nisi sed, vestibulum facilisis nulla. Suspendisse vitae urna pretium, malesuada mi nec, commodo libero. Praesent dapibus tempus porttitor. Etiam maximus massa quis metus interdum, nec consequat turpis condimentum. Praesent rhoncus ante nec eros lobortis dictum. Sed rhoncus odio viverra ligula lobortis ultricies. In aliquet aliquam elit, non eleifend mi venenatis eu.

                p Aenean tincidunt, turpis a blandit tempor, turpis augue faucibus lectus, sed ultricies elit nulla eu diam. Sed dapibus mauris ac volutpat porttitor. Pellentesque interdum nisl vel lorem malesuada aliquam. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et fringilla velit. Proin lectus ligula, vestibulum in tortor vitae, fringilla elementum nisi. Fusce purus tortor, tristique et metus ullamcorper, eleifend condimentum tellus. Vivamus nec commodo massa, sed mollis tellus. Etiam venenatis varius elit sit amet sodales.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fuild mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis corporis dolores distinctio earum voluptates iste beatae necessitatibus velit provident officia neque reprehenderit a voluptatibus doloremque cum dolorum.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fuild mb-4')
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis corporis dolores distinctio earum voluptates iste beatae necessitatibus velit provident officia neque reprehenderit a voluptatibus doloremque cum dolorum.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class='img-fuild mb-4')
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis corporis dolores distinctio earum voluptates iste beatae necessitatibus velit provident officia neque reprehenderit a voluptatibus doloremque cum dolorum.
